<div class="row">
  <div class="col-sm-6">
    <p id="notice"><%= notice %></p>

    <div class="well well-sm"><h3>Tasks
      <div class="pull-right">
        <a href="tasks/new">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div></h3>
    </div>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project Name</th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.name, task %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  </div>
  <div class="col-sm-6">
  </div>
</div>
